body {
    font-family: Arial;
    background-color: rgb(236, 235, 225);
}
.navbar{
    background: linear-gradient(270deg, rgb(230, 230, 206) 0%, rgb(165, 165, 150) 100%);
}
.navbar-brand{
    font-weight: bolder;
    user-select: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none;
}
.navbar-brand:hover{
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.nav-item{
    transition: transform 0.3s ease;
}
.item:hover{
    transform: scale(1.4);
}
#active{
    font-weight: bolder;
}
#btn, #btnSzuro{
    font-weight: bolder;
    border-width: 2px;
    border-radius: 5px;
    background-color: rgb(197, 197, 175);
    min-width: 93px;
    transition: transform 0.3s ease;

}
#btn:hover, #btnSzuro:hover{
    transform: scale(1.2);

}
.form-select{
    font-weight: bolder;
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgb(197, 197, 175);
    height: 39px;
    transition: transform 0.3s ease;

}
.form-select:hover{
    cursor: pointer;
    transform: scale(1.2);

}
.fooldal{
    text-align: center;
    font-size: 500%;
    padding: 70px;
}
h2{
    margin-left: 10%;
    margin-bottom: 30px;
    margin-top: 40px;
    font-size: 320%;
}
h3{
    margin-top: 40px;
    margin-left: 13%;
    font-size: 250%;
}
h4{
    font-size: 180%;
}
h5{
    margin: 2%;
}
.bevezeto{
    text-align: justify;
    font-size: 130%;
    line-height: 1.5;
}
.container{
    align-items: center;
}
.row{
    display: flex;
    width: 90%;
    margin: auto;
    height: 80%;
    padding: 20px;
}
.col-xl{
    margin: 20px;
}
.adstart{
    font-size: 150%;
    padding: 20px;
    margin: auto;
    text-align: center;
    border-bottom: 2px dashed rgb(197, 197, 175);
    border-width: 60%;
    width: 50%;
}
.adend{
    padding: 20px;
    margin: auto;
    text-align: center;
    border-top: 2px dashed rgb(197, 197, 175);
    width: 50%;
}
.fade-card-main {
    background-color: transparent;
    height: 200px;
    perspective: 1000px;
    margin: auto;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.fade-card-main .fade-card-back,
.fade-card-main .fade-card-front {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 20px;
    transition: opacity 0.2s ease-in-out;
}

.fade-card-main .fade-card-back {
    opacity: 0;
    z-index: 1;
    background-size: cover;
    background-position: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade-card-main:hover .fade-card-back {
    opacity: 1;
    cursor: pointer;
}

.fade-card-main .fade-card-front {
    opacity: 1;
    z-index: 2;
    background-size: cover;
    background-position: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.fade-card-main:hover .fade-card-front {
    opacity: 0;
    cursor: pointer;
}
.leirashatter{
    background-color: rgba(197, 197, 175, 0.9);
    width: 100%;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
}
.cimhatter{
    background-color: rgba(197, 197, 175, 0.85);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: auto;
    display: flex;
}
.cim{
    font-weight: bolder;
    text-align: center;
    margin: 5%;
    margin: auto;
}
.header {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 500%;
    text-align: center;
}
.img{
    display: flex;
    margin: 2%;
    margin-top: 3%;
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.fade-card {
    background-color: transparent;
    height: 350px;
    perspective: 1000px;
    margin: auto;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.fade-card .fade-card-back,
.fade-card .fade-card-front {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 20px;
    transition: opacity 0.2s ease-in-out;
}

.fade-card .fade-card-back {
    opacity: 0;
    z-index: 1;
    background-size: cover;
    background-position: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade-card:hover .fade-card-back {
    opacity: 1;
    cursor: pointer;
}

.fade-card .fade-card-front {
    opacity: 1;
    z-index: 2;
    background-size: cover;
    background-position: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.fade-card:hover .fade-card-front {
    opacity: 0;
    cursor: pointer;
}


.footercolumn {
    width: 100%;
    padding: 10px;
    background: linear-gradient(270deg, rgb(230, 230, 206) 0%, rgb(165, 165, 150) 100%);
    margin-top: auto;
}
  
.fakeimg {
    background-color: rgb(236, 235, 225);
    height: 30px;
}
#sor{
    border-bottom: 2px solid black;
    width: 30%;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 220%;
}
.szuro{
    margin-bottom: 40px;
}
.elem{
    margin-left: 13px;
    min-width: 93px;
}
.cikkelem{
    width: 80%;
    margin: auto;
    text-align: justify;
}
.cikk{
    background-image: url("https://i.ibb.co/HDHf0JS/track.jpg");
    height: 500px;
    width: 80%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    border-radius: 20px;
    margin: auto;
}
.cikkrow{
    height: 100%;
}
.cikkcol{
    margin: auto;

}
#cikkgomb{
    background-color: rgba(197, 197, 175, 0.85);
    font-weight: bolder;
    font-size: 150%;
    border-width: 2px;
    border-radius: 15px;
    width: 140px;
    height: 80px;
    transition: transform 0.3s ease;
    margin-left: 30%;
    padding: 1px;
}
#cikkgomb:hover{
    transform: scale(1.2);
}
.cikkcolor{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(197, 197, 175, 0.85);
}
.cikkcim{
    font-size: 250%;
}
.cikkszoveg{
    font-size: 140%;
    margin: 2%;
    text-align: justify;
}
#cikkvissza{
    background-color: rgba(197, 197, 175, 0.85);
    font-weight: bolder;
    border-width: 2px;
    border-radius: 15px;
    width: 220px;
    height: 60px;
    transition: transform 0.3s ease;
    padding: 1px;
}
#cikkvissza:hover{
    transform: scale(1.2);
}
#rolam{
    font-size: 120%;
    text-align: justify;

}