body {
    font-family: Arial;
    background-color: rgb(236, 235, 225);
}
.navbar{
    background: linear-gradient(270deg, rgb(230, 230, 206) 0%, rgb(165, 165, 150) 100%);
    margin-bottom: 3%;
}
.navbar-brand{
    font-weight: bolder;
}
#active{
    font-weight: bolder;
}
#btn{
    font-weight: bolder;
    border-width: 2px;
}
h1{
    margin-top: 200px;
}
h2, h5{
    text-align: center;
}
.header {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 500%;
    text-align: center;
}
.img{
    margin: 2%;
    margin-top: 3%;
    width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.row{
    color: black;
    height: 100%;
    margin: auto;
    border-radius: 20px;
    background: radial-gradient(circle, rgb(230, 230, 206) 0%, rgb(165, 165, 150) 100%);
    width: 70%;
}
.footercolumn {
    width: 100%;
    float: right;
    padding: 10px;
    background: linear-gradient(270deg, rgb(230, 230, 206) 0%, rgb(165, 165, 150) 100%);
}
  
.fakeimg {
    background-color: rgb(255, 255, 255);
    height: 65px;
}
#sor{
    border-bottom: 2px solid black;
    width: 30%;
}